<div class="social-net">
  <p class="text-light">Bienvenido, miles de promos y apps esperan por ti</p>
  <h3 class="text-light">Ingresa con</h3>
  <div class="social-icons-container">
    <div class="sn-ico ico-fbk"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
    <div class="sn-ico ico-google"><a href="#"><i class="fab fa-google"></i></a></div>
    <div class="sn-ico ico-twitter"><a href="#"><i class="fab fa-twitter"></i></a></div>
  </div>
  <h3 class="text-light">o</h3>
  <button pButton type="button" label="CORREO ELECTRONICO" class="btn btn-light cta-position"></button>
</div>