<div class="sign-up-wrapper">
  <div class="container">
    <div class="row">
      <section class="col-md-12">
        <app-lo-top-content></app-lo-top-content>
      </section>
      <section class="col-md-5 wrapper-container left-content">
        <app-lo-img-reference class="container-content middle-position"></app-lo-img-reference>
      </section>
      <section class="col-md-7 wrapper-container right-content">
        <app-signin class="container-content middle-position">
        </app-signin>
      </section>
    </div>
  </div>
</div>