<div class="container footer-nav-style">
  <h4 class="font-weight-bold">LEGAL</h4>
  <div class="row">
    <div class="col-sm-4">
      <ul class="pl-3">
        <li><i class="fas fa-angle-right"></i><a href="#">Habeas data</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Política de tratamiento de datos personales</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Contra el material con contenido de abuso de niñas, niños y adolescentes</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">En TIC confio</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Seguridad en la red</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="pl-3">
        <li><i class="fas fa-angle-right"></i><a href="#">Mecanismos de bloqueo de material con contenido de abuso de niñas,
            niños y adolescentes</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Homologación de equipos</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Internet sano</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Gestión de calidad</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Infórmate de tus derechos</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="pl-3">
        <li><i class="fas fa-angle-right"></i><a href="#">Quiero dejar de recibir SMS de VMC</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Quiero dejar de recibir SMS</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Recicla tu celu</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#">Mantenimiento en la red</a></li>
      </ul>
    </div>
  </div>
</div>